body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body, input, button {
  font-size: 24pt;
  font-family: sans-serif;
}

.timer-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}


.timer-table td, .timer-table th {
  width: 30%;
  border: 1px solid black;
  position: relative;
}

.timer-table td:first-child, .timer-table th:first-child {
  width: 0%;
}

.timer-table td {
  text-align: right;
}

.timer-table th {
  text-align: center;
  max-height: 24px;
}


.timer-table td input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  border: none;
  padding: 0px;
}

.timer-table button {
  background-color: transparent;
}

.timer-table button:hover, .timer-table input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.timer-table button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.timer-table td input::placeholder {
  color: #888888;
}

.timer-table .button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.timer-table .button-group button {
  width: 100%;
  height: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0;
  border: none;
}